<h1>Results For: <%= @media_query %></h1>

<% @media_results.each do |media| %>
  <div id="media_<%= media.id %>">
    <h3><%= media.title %></h3>
    <p><img src=<%= media.poster %>></p>
    <p>Media Type: <%= media.formatted_type %></p>
    <p>Audience Score: <%= media.audience_score %></p>
  </div>
<% end %>