<%= image_tag("logos/inverse_logo.png") %>

<div id="about_us">
  <h2>Who Are We?</h2>
  <p>StreamLined is a tool to track movies and TV shows a user would like to watch, are currently watching, and also track media a user has watched. Once a user has created a StreamLined account, they will have access to a dashboard with three default lists to categorize their media: 'Currently Watching', 'Want to Watch', and 'Watched'. The user will be able to search for movies and TV shows by title, view the media details, and save to the appropriate list in their dashboard. Once a user has finished watching their show or movie, the user will be able to provide reviews and ratings. Users of this app will be to set their streaming services and search for their desired media based on the streaming service available to the user.</p>
</div>

<section id="trending_media">
  <h2>Trending Now</h2>
  <% @trending_media.each do |media| %>
    <div id="media_<%= media.id %>">
      <h3><%= media.title %></h3>
      <p>Vote Average: <%= media.round_vote %></p>
      <p>Media Type: <%= media.formatted_type %></p>
      <img src=<%="https://image.tmdb.org/t/p/w500#{media.poster}"%>>
    </div>
  <% end %>
</section>
