<div class="container">
    <div class="profile_pic float-left">
      <%= image_tag(@user.picture, style: "float-left") %>
    </div>
  <div class="float-right">
  <ul>
    <li class="user-details">Username: <%= @user.username %></li>
    <li class="user-details">Email: <%= @user.email %></li>
    <li class="user-details">Name: <%= @user.name %></li>
  </ul>
  </div>
</div>

<%= button_to 'Edit Profile', edit_dashboard_path, method: :get, local: true, class: "btn btn-info" %>

<hr>

<section id='user_lists'>
  <% if @list == 'Currently Watching' %>
    <div id="currently_watching">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="" data-toggle="tab" aria-expanded="true">Currently Watching</a>
        </li>
        <li class="">
          <%= link_to 'Want to Watch', '/dashboard?list=Want to Watch', method: :get, local: true %>
        </li>
        <li class="">
          <%= link_to 'Watched', '/dashboard?list=Watched', method: :get, local: true %>
        </li>
      </ul>
      <div id="media_results">
        <% if @media_list.empty? %>
          <p>This list is currently empty. Search for media to start adding!</p>
        <% else %>
          <% @media_list.each do |media| %>
            <%= render partial: "shared/media_result", locals: {media: media} %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% elsif @list == 'Want to Watch' %>
    <div id="want_to_watch">
      <ul class="nav nav-tabs">
        <li class="">
          <%= link_to 'Currently Watching', '/dashboard?list=Currently+Watching', method: :get, local: true %>
        </li>
        <li class="active">
          <a href="" data-toggle="tab" aria-expanded="true">Want to Watch</a>
        </li>
        <li class="">
          <%= link_to 'Watched', '/dashboard?list=Watched', method: :get, local: true %>
        </li>
      </ul>
      <% if @media_list.empty? %>
        <p>This list is currently empty. Search for media to start adding!</p>
      <% else %>
        <% @media_list.each do |media| %>
          <%= render partial: "shared/media_result", locals: {media: media} %>
        <% end %>
      <% end %>
    </div>
  <% elsif @list == 'Watched' %>
    <div id="watched">
      <ul class="nav nav-tabs">
        <li class=""><%= link_to 'Currently Watching', '/dashboard?list=Currently+Watching', method: :get, local: true %></li>
        <li class=""><%= link_to 'Want to Watch', '/dashboard?list=Want to Watch', method: :get, local: true %></li>
        <li class="active">
          <a href="" data-toggle="tab" aria-expanded="true">Watched</a>
        </li>
      </ul>
      <% if @media_list.empty? %>
        <p>This list is currently empty. Search for media to start adding!</p>
      <% else %>
        <% @media_list.each do |media| %>
          <%= render partial: "shared/media_result", locals: {media: media} %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
