<section class="text-center">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="profile_pic left">
        <%= image_tag(@user.picture) %>
      </div>
      <p></p>
      <%= button_to 'Edit Profile', edit_dashboard_path, method: :get, local: true, class: "btn btn-info" %>
    </div>
    <div class="col-sm-4 text-left">
      
        <p class="user-details">Username: <%= @user.username %></p>
        <p class="user-details">Email: <%= @user.email %></p>
        <p class="user-details">Name: <%= @user.name %></p>
      </ul>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</section>


<hr>

<section id='user_lists'>
  <% if @list == 'Currently Watching' %>
    <div id="currently_watching">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" aria-expanded="true">Currently Watching
          <span class="badge"><%= @media_list.count %></span>
          </a>
        </li>
        <li class="">
          <%= link_to 'Want to Watch', '/dashboard?list=Want to Watch', method: :get, local: true %>
        </li>
        <li class="">
          <%= link_to 'Watched', '/dashboard?list=Watched', method: :get, local: true %>
        </li>
      </ul>
      <div id="media_results">
        <% if @media_list.empty? %>
          <center>
            <h4>This list is currently empty. Search for media to start adding!</h4>
            <%= image_tag 'retro-tv-static.png', height:'300px' %>
          </center>
        <% else %>
          <% @media_list.each do |media| %>
            <%= render partial: 'shared/delete_from_list', locals: { user_list: "Currently Watching", media_id: media.id, button_text: "X"}  %>
            <%= render partial: "shared/media_result", locals: {media: media} %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% elsif @list == 'Want to Watch' %>
    <div id="want_to_watch">
      <ul class="nav nav-tabs">
        <li class="">
          <%= link_to 'Currently Watching', '/dashboard?list=Currently+Watching', method: :get, local: true %>
        </li>
        <li class="active">
          <a data-toggle="tab" aria-expanded="true">Want to Watch
          <span class="badge"><%= @media_list.count %></span>
          </a>
        </li>
        <li class="">
          <%= link_to 'Watched', '/dashboard?list=Watched', method: :get, local: true %>
        </li>
      </ul>
      <% if @media_list.empty? %>
        <center>
          <h4>This list is currently empty. Search for media to start adding!</h4>
          <%= image_tag 'retro-tv-static.png', height:'300px' %>
        </center>
      <% else %>
        <% @media_list.each do |media| %>
          <%= render partial: 'shared/delete_from_list', locals: { user_list: "Want to Watch", media_id: media.id, button_text: "X"}  %>
          <%= render partial: "shared/media_result", locals: {media: media} %>
        <% end %>
      <% end %>
    </div>
  <% elsif @list == 'Watched' %>
    <div id="watched">
      <ul class="nav nav-tabs">
        <li class=""><%= link_to 'Currently Watching', '/dashboard?list=Currently+Watching', method: :get, local: true %></li>
        <li class=""><%= link_to 'Want to Watch', '/dashboard?list=Want to Watch', method: :get, local: true %></li>
        <li class="active">
          <a data-toggle="tab" aria-expanded="true">Watched
          <span class="badge"><%= @media_list.count %></span>
          </a>
        </li>
      </ul>
      <% if @media_list.empty? %>
        <center>
          <h4>This list is currently empty. Search for media to start adding!</h4>
          <%= image_tag 'retro-tv-static.png', height:'300px' %>
        </center>
      <% else %>
        <% @media_list.each do |media| %>
          <%= render partial: 'shared/delete_from_list', locals: { user_list: "Watched", media_id: media.id, button_text: "X"}  %>
          <%= render partial: "shared/media_result", locals: {media: media} %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
