<h3><%= link_to media.title, media_path(media.id) %></h3>
<br>
  <% if media.poster %>
    <p><%= link_to image_tag(media.poster, height:'80%', width:'80%'), media_path(media.id) %></p>
  <% end %>
  <p>Media Type: <%= media.formatted_type %></p>
  <p>Release Year: <%= media.release_year %></p>
  <% if current_user %>
    <div class='row'>
      <div class='col-sm-5'>
        <%= render partial: 'shared/drop_down_lists', locals: { user_id: current_user, media_id: media.id, button_text: "Add to List"} %>
      </div>
      <div class='col-sm-5'>
        <%  if current_user %>
          <%= render partial: 'shared/star_rating', locals: {user_id: current_user, media: media} %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= render partial: 'shared/visitor_drop_down', locals: { button_text: "Add to List" } %>
  <% end %>
