<%= @media.title %>
<div class='poster'>
  <%= image_tag @media.poster %>
</div>
<%= @media.description %>
<%= @media.audience_score %>
<%= @media.genres %>
<%= @media.runtime %>
<%= @media.type %>
<%= @media.release_year %>
<%= @media.rating %>
<%= @media.language %>
<%= @media.sub_services %>
<%= link_to 'Link to Trailer', @media.trailer %>

<div id="add_to_list">
  <% if @user %>
    FORM
  <% else %>
    Login/Register to add this to a list.
  <% end %>
</div>
