<%= @media.title %>
<div class='poster'>
  <%= image_tag @media.poster %>
</div>
<%= @media.description %>
<%= @media.audience_score %>
<%= @media.genres %>
<%= @media.runtime %>
<%= @media.type %>
<%= @media.release_year %>
<%= @media.rating %>
<%= @media.trailer %>
<%= @media.language %>
<%= @media.sub_services %>
<%= link_to 'Link to Trailer', @media.trailer %>
