<!DOCTYPE html>
<html>
  <head>
    <title>StreamlinedFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "cyborg_theme" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="app-container">
      <nav>
       <%= render partial: 'shared/top_section.html.erb' %>
      </nav>
        <% flash.each do |type, msg| %>
        <% if type == :alert %> 
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%= msg %></strong>
        </div>
        <% else %>
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%= msg %></strong>
        </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
