<!DOCTYPE html>
<html>
  <head>
    <title>StreamlinedFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= render partial: 'shared/nav_bar.html.erb' %>
    </nav>
    <% flash.each do |type, msg| %>
      <%= msg %>
    <% end %>
    <%= yield %>
    <footer>
      <%= render partial: 'shared/footer.html.erb' %>
    </footer>
  </body>
</html>
