<!DOCTYPE html>
<html>
  <head>
    <title>StreamlinedFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav>
      <%= render partial: 'shared/top_section.html.erb' %>
    </nav>
    <%= yield %>
  </body>
</html>
